[nginx]
i-0a87889e56c47ce65 jenkins_ip=10.0.1.15 nginx_ip=18.212.124.133

[jenkins]
i-0848781525836448d

[slave]
i-017b325d2f08241ce

[remote:children]
nginx
jenkins
slave

[remote:vars]
ansible_connection=community.aws.aws_ssm
ansible_aws_ssm_region=us-east-1
ansible_aws_ssm_bucket_name=iti-ssm-bucket
ansible_become=true
ansible_become_method=sudo
remote_user=ssm-user
